$primary: #ffffff;
$secondary: #A18066;
$seconddark: #78766f;
$light: #f5f5f5;
$dark:  #4d4c4c;

/* POSIBLES FUENTES PARA TÍTULOS */
$primary-font: 'Gilda Display', serif;
$melodrama-font: 'Melodrama-Variable', sans-serif;
$cardillac-font: 'Cardillac', sans-serif; 

/* FUENTE PARA TEXTOS */

$primary-text: 'Open Sans', sans-serif;
$altfont: 'Neometric Alt Regular', sans-serif;